<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav>
        <ul>
            <a class="navbar-brand" href="/">LEGO Collections</a>
            <li><a href="/about">About</a></li>
            <li>
                <li class="dropdown">
                    <details>
                        <summary>
                            Theme
                        </summary>
                        <ul class="p-2 bg-base-100 right-0">
                            <li><a href="/lego/sets?theme=technic">Technic</a></li>
                            <li><a href="/lego/sets?theme=classic town">Classic Town</a></li>
                            <li><a href="/lego/sets?theme=supplemental">Supplemental</a></li>
                        </ul>
                    </details>
                </li>
            </li>
        </ul>
    </nav>

    <!-- 404 Error message or image -->
    <!-- You can use a "hero" daisyUI component or any other suitable element -->
    <div class="hero">
        <hr>
        <br>
        <h1>404 - Page Not Found</h1>
        <p>Sorry, the page you are looking for does not exist.</p>
    </div>
</body>
</html>
