<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <!-- <link rel="stylesheet" href="/css/main.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        /* Add custom CSS to center align text within the box */
        .centered-box {
            text-align: center;
        }
    </style>
</head>
<body>
  <%- include('partials/navbar', { page: '/about' }) %>
  <!-- <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">LEGO Collections</a>
        </div>
    
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <details>
                        <summary>
                            Theme
                        </summary>
                        <ul class="p-2 bg-base-100 right-0">
                            <li><a href="/lego/sets?theme=technic">Technic</a></li>
                            <li><a href="/lego/sets?theme=classic town">Classic Town</a></li>
                            <li><a href="/lego/sets?theme=supplemental">Supplemental</a></li>
                        </ul>
                    </details>
                </li>
                <li><a href="/about">About</a></li>
                <li><a href="/404">404</a></li>
            </ul>
        </div>
    </div>
  </nav> -->


  <br>

  <!-- Container for the about page content -->
  <div class="container mx-auto">
    <hr>    <br>    <br>    <br>    <br>    <br>

    <div class="hero">
      <h1 class="text-5xl font-bold" style="font-size: 3rem;">About Me</h1>
    </div>
    
    <!-- Box for description with center alignment -->
    <div class="bg-base-100 p-4 rounded-lg centered-box">
      <p class="text-lg">Everything you want to know about me - the designer &amp; developer.</p>
    </div>

    <!-- Responsive grid system for about information -->
    <div class="grid grid-cols-2 gap-4">
      <hr>
      <br>
      <br>
      <br>
      <!-- Left column with image -->
      <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/SenecaMarkhamCampus21.jpg/1280px-SenecaMarkhamCampus21.jpg">
      </div>
      <!-- Right column with a short blurb about yourself -->
      <div>
        <p>My name is Ilhyun Cho and I'm currently studying at Seneca Markham Campus.</p>
        <p>Donec sollicitudin molestie tortor, vel feugiat nulla maximus quis. Suspendisse ut sapien id mauris
          sollicitudin commodo. Quisque semper, ligula et tincidunt dapibus, nisi ante fermentum lectus, nec molestie
          sem eros vel neque. Duis sit amet ligula eu ligula consectetur blandit sed at mi. Sed ac odio aliquet,
          vestibulum justo eget, volutpat eros. Mauris a dictum erat. Vivamus sodales egestas tempus. Duis pulvinar nibh
          enim, vel gravida nunc egestas id. Duis magna ante, posuere id luctus id, mattis at ipsum. Nullam sit amet
          magna et dui varius tristique ac id nisl. Pellentesque est dolor, luctus vitae dictum ut, hendrerit lacinia
          lorem. Nullam a pharetra tortor.
        </p>
      </div>
    </div>
  </div>
</body>
</html>
