<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lego Collection</title>
    <!-- <link rel="stylesheet" href="/css/main.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
    <%- include('partials/navbar', { page: '/' }) %>
  <!-- <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">LEGO Collections</a>
        </div>
    
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <details>
                        <summary>
                            Theme
                        </summary>
                        <ul class="p-2 bg-base-100 right-0">
                            <li><a href="/lego/sets?theme=technic">Technic</a></li>
                            <li><a href="/lego/sets?theme=classic town">Classic Town</a></li>
                            <li><a href="/lego/sets?theme=supplemental">Supplemental</a></li>
                        </ul>
                    </details>
                </li>
                <li><a href="/about">About</a></li>
                <li><a href="/404">404</a></li>
            </ul>
        </div>
    </div>
  </nav> -->
  

  <!-- Container for the landing page content -->
  <div class="container mx-auto mt-4">
      <!-- Hero section with text and link -->
      <div class="hero bg-base-200 rounded-lg p-6">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <hr>
            <br>
            <br>
            <br>
            <br>
            <h1 class="text-4xl text-danger font-bold mt-2">Welcome</h1>
            <h3 class="text-xl">Explore our amazing Lego sets!</h3>
            <a href="/lego/sets" class="btn btn-primary">Get Started Now</a>
            <p class="py-6">Unleash your inner builder and embark on a fascinating journey through the colorful realm of Lego.</p>
          </div>
        </div>

      <!-- Responsive grid system for Lego sets -->
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-4">
          <!-- Repeat this card for each Lego set -->
          <div class="bg-white p-4 rounded-lg">
              <img src="https://cdn.rebrickable.com/media/sets/028-1.jpg" alt="Lego Set" class="w-full"width="600" height="600">
              <h2 class="text-lg font-semibold mt-2">Nursery Furniture</h2>
              <h4 class="text-sm">With the Classic Duplo set, create an adorable nursery for your minifigure minis. This set lets you craft tiny cribs, changing tables, and cute baby accessories, providing endless fun for your LEGO family. Watch as your minis enjoy their newly furnished nursery in the world of LEGO.</h4>
              <a href="/lego/sets/028-1" class="bg-blue-500 text-white px-4 py-2 rounded-full inline-block mt-2">View Details</a>
          </div>
          <hr>
          <div class="bg-white p-4 rounded-lg">
              <img src="https://cdn.rebrickable.com/media/sets/1000430096-8.jpg" alt="Lego Set" class="w-full"width="800" height="800">
              <h2 class="text-lg font-semibold mt-2">Marvel Super Heroes - PS4</h2>
              <h4 class="text-sm"> Join your favorite superheroes in epic battles, explore their world, and save the day. Unleash your inner hero with this exciting gaming experience.</h4>
              <a href="/lego/sets/1000430096-8" class="bg-blue-500 text-white px-4 py-2 rounded-full inline-block mt-2">View Details</a>
          </div>
          <hr>
          <div class="bg-white p-4 rounded-lg">
              <img src="https://cdn.rebrickable.com/media/sets/063-2.jpg" alt="Lego Set" class="w-full"width="800" height="800">
              <h2 class="text-lg font-semibold mt-2">Ducks</h2>
              <h4 class="text-sm"> Add a touch of nature to your collection with these charming duck figurines. Their lifelike features and intricate details will delight any nature enthusiast or collector.</h4>
              <a href="/lego/sets/063-2" class="bg-blue-500 text-white px-4 py-2 rounded-full inline-block mt-2">View Details</a>
          </div>
          <hr>
          <div class="bg-white p-4 rounded-lg">
              <img src="https://cdn.rebrickable.com/media/sets/065-1.jpg" alt="Lego Set" class="w-full"width="800" height="800">
              <h2 class="text-lg font-semibold mt-2">Two Garage Door Kits</h2>
              <h4 class="text-sm">Upgrade your garage with these easy-to-install kits. Enhance security, protect your belongings, and give your home a modern touch with these high-quality garage door kits.</h4>
              <a href="/lego/sets/065-1" class="bg-blue-500 text-white px-4 py-2 rounded-full inline-block mt-2">View Details</a>
          </div>
      </div>
  </div>


</body>
</html>
